{{> contact }}

<header>
	<section class='header__video'>
		<video autoplay loop muted plays-inline>
			<source src='/video/video-bg.mp4' type='' />
		</video>

		<article>
			<div class='header__info'>
				<p>Be <span>Wit</span> & Start</p>
				<p>Your <span>Site</span></p>
				<h1>What type of website do you need?</h1>
				<div class='info__btns'>
					<div class='btn'>
						<a href='#'>Our work</a>
					</div>
					<div class='btn'>
						<a href='#'>Services</a>
					</div>
				</div>
			</div>
		</article>
	</section>
</header>

<div class='slider'>
	<div><img src='\svg\css.svg' alt='' /></div>
	<div><img src='\svg\html.svg' alt='' /></div>
	<div><img src='\svg\git.svg' alt='' /></div>
	<div><img src='\svg\gsap.svg' alt='' /></div>
	<div><img src='\svg\illustrator.svg' alt='' /></div>
	<div><img src='\svg\js.svg' alt='' /></div>
	<div><img src='\svg\mongo.svg' alt='' /></div>
	<div><img src='\svg\node.svg' alt='' /></div>
	<div><img src='\svg\sass.svg' alt='' /></div>
	<div><img src='\svg\svg.svg' alt='' /></div>
	<div><img src='\svg\css.svg' alt='' /></div>
	<div><img src='\svg\html.svg' alt='' /></div>
	<div><img src='\svg\git.svg' alt='' /></div>
	<div><img src='\svg\gsap.svg' alt='' /></div>
	<div><img src='\svg\illustrator.svg' alt='' /></div>
	<div><img src='\svg\js.svg' alt='' /></div>
	<div><img src='\svg\mongo.svg' alt='' /></div>
	<div><img src='\svg\node.svg' alt='' /></div>
	<div><img src='\svg\sass.svg' alt='' /></div>
	<div><img src='\svg\svg.svg' alt='' /></div>
</div>

{{> home }}