nav {
	background-color: #fff;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;

	.nav__icon {
		margin-right: 30px;
	}

	// Navbar Links
	ul {
		display: flex;

		li {
			margin-left: 70px;
		}
	}
}
