<div class='contact-line'>
	<div class='line1'></div>

	<ul class='contact-line__info'>
		<li><a href='#'></a><i class='bi bi-whatsapp'></i></li>
		<li><a href='#'></a><i class='bi bi-instagram'></i></li>
		<li><a href='#'></a><i class='bi bi-github'></i></li>
		<li><a href='#'></a><i class='bi bi-envelope'></i></li>
	</ul>

	<div class='line2'></div>

</div>