<section class='footer'>

	<ul class='footer__links'>
		<li><a href='https://api.whatsapp.com/send?phone=584249142598'><i
					class='bi bi-whatsapp'
				></i></a></li>
		<li><a
				href='https://www.instagram.com/p/CUO2IiJAntm/?igshid=YmMyMTA2M2Y='
			><i class='bi bi-instagram'></i></a></li>
		<li><a href='https://github.com/CodeHxH'><i
					class='bi bi-github'
				></i></a></li>
		<li><a href='onthewitsite@gmail.com'><i class='bi bi-envelope'></i></a></li>
	</ul>

	<footer>Developed And Designed By José A. Rodriguez ©2022. All Rights
		Reserved.</footer>

</section>