<nav>
	<div class='nav__logo'>
		<img src='/svg/icon.svg' alt='' class='nav__icon' />
		<img src='/svg/beta.svg' alt='' />
	</div>

	<ul class='nav__links'>
		<li><a href='#'>Home</a></li>
		<li><a href='#'>Development</a></li>
		<li><a href='#'>About</a></li>
	</ul>
</nav>